# Basic Pandas stuff

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Creating a pandas dataframe from scratch

In [ ]:
# Create an populate a 5x2 NumPy array.
my_data = np.array([[0, 3], [10, 7], [20, 9], [30, 14], [40, 15]])

# Create a Python list that holds the names of the two columns.
my_column_names = ['temperature', 'activity']

# Create a DataFrame.
df = pd.DataFrame(data=my_data, columns=my_column_names)

# Print the entire DataFrame
print(df)

Can plot directly from Panda columns

In [ ]:
plt.plot(df['temperature'],df['activity'])
plt.show()

Can create new colombs from existing columns

In [ ]:
df["adjusted"] = df["activity"] + 2

# Print the entire DataFrame
print(df)

Import a dataset from a file

In [ ]:
# Read from a CSV file
df = pd.read_csv("116-grades.csv")

# Print the first rows of the pandas DataFrame.
df.head()

In [ ]:
# Can also read directly from an excel file
df = pd.read_excel("116-grades.xlsx")

# Print the first rows of the pandas DataFrame.
df.head()

Get statistics on the dataset.

In [ ]:
df.describe()

# Check the total.  

It's supposed to be 

- 20% Homework 
- 30% Lab 
- 25% quiz
- 25% final

In [ ]:
# Create a new column called "check"
df['check']=.2*df['hw']+.3*df['lab']+.25*df['quiz']+.25*df['final']
# Compare this column with the column in the file
df['deviation']=(df['check']-df['total'])/df['total']

df.describe()

Let's drop those rows with zero final score

In [ ]:
df = df.query("final > 0")
df.describe()

Look at correlations

In [ ]:
df.corr()

In [ ]:
!